.PiePagina {
    background-image: url(../../Imagenes/Pie.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #FF2E15;
    font-size: 20px;
    opacity: 80%;
    
}
h3 {
    box-sizing:border-box; 
    padding: 0;
    margin: 0;
    font-size: 20px
}
li {
    font-size: 15px
}