.Banda {
    height: 450px;
    width: 720px;
    background-repeat: no-repeat;
    margin-left: 85px;
    margin-top: 10px;
    margin-bottom: 10px;
   }
h2 {
    font-size: 25px;
}
 .Texto {
    font-size: 20px;
}
.Info {
    margin-left: 350px;
}
.Buy {
    margin-top: 380px;
    margin-left: -150px;
}

